/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dosis/v17/HhyJU5sn9vOmLxNkIwRSjTVNWLEJN7MV3A.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Roboto Mono Medium'), local('RobotoMono-Medium'), url(https://fonts.gstatic.com/s/robotomono/v7/L0xkDF4xlVMF-BfR8bXMIjC4iFq2.ttf) format('truetype');
}
/*variable*/
/*mixin*/
/*less code*/
p {
  font-size: 1.4rem;
  font-family: 'Dosis', sans-serif;
}
.container {
  display: flex;
}
/*main content */
.main-content {
  background: white;
  width: 80%;
  display: flex;
  flex-direction: column;
  padding: 10%;
}
header {
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
}
header h1 {
  font-size: 4rem;
  font-family: 'Roboto Mono', monospace;
}
header p {
  padding: 2%;
}
.topNav {
  width: 80%;
}
.topNav nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10%;
}
.topNav nav a {
  border: 2px lightsteelblue solid;
  font-size: 1.3rem;
  color: black;
  padding: 2%;
  text-decoration: none;
  border-radius: 4px;
}
.topNav nav a:hover {
  color: cornflowerblue;
}
.about {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mySkills h2 {
  font-family: 'Roboto Mono', monospace;
  font-size: 1.6rem;
}
/*side bar section*/
.side-bar {
  width: 20%;
  display: flex;
  background: lightsteelblue;
}
img {
  width: 70%;
  height: 27%;
  padding-top: 5%;
  border-bottom: 2px solid cornflowerblue;
  border-left: 2px solid cornflowerblue;
  padding-bottom: 3%;
  padding-left: 3%;
}
