// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
	height: 100%;
}

@import url('https://fonts.googleapis.com/css2?family=Dosis&family=Roboto+Mono:wght@500&display=swap');

  /*variable*/
@main-color: cornflowerblue;
@main-font: 'Dosis', sans-serif;
@heading-font: 'Roboto Mono', monospace;

	/*mixin*/
.center(){
	display:flex;
	justify-content: center;
	align-items: center;
}

  /*less code*/

  p { 
	font-size: 1.4rem;
	font-family: @main-font;
}

  .container {
	display: flex;
  }

 /*main content */
  .main-content {
	background: white;
	width: 80%;
	display: flex;
	flex-direction: column;
	padding: 10%;
  }

  header {
	height: 50vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: white;

	h1 {
	font-size: 4rem;
	font-family: 'Roboto Mono', monospace;
	}
	p {
	padding: 2%;
	}
  }
 // closes header

  .topNav {
	width: 80%;
  }

  .topNav nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 10%;
		 
		a {
	border: 2px lightsteelblue solid;
	font-size: 1.3rem;
	color: black;
	padding: 2%;
	text-decoration: none;
	border-radius: 4px;

	&:hover {
		color:@main-color;
		}
	}
  }

  .about {
	display: flex;
	flex-direction: column;
	align-items: center;
  }

  .mySkills 
  		h2 {
		font-family: @heading-font;
		font-size: 1.6rem;
  }

  /*side bar section*/
  .side-bar {
	width: 20%;
	display: flex;
	background: lightsteelblue;
  }

  img {
	width: 70%;
	height: 27%;
	padding-top: 5%;
	border-bottom: 2px solid cornflowerblue;
	border-left: 2px solid cornflowerblue;
	padding-bottom: 3%;
	padding-left: 3%;
  }

  
  